<div class="card-list">
	<div class="card-item">
		<img class="card-photo" src="../img/meOnBoard2.jpg" alt="MolchanovOleksii" width="200px" height="200px">
		<h1 class="card-title">Молчанов Алексей Николаевич</h1>
		<div class="card-text">
			<p>Международный мастер, мастер спорта Украины. 
			Победитель и призер ряда всеукраинских и международных турниров.</p>
		</div>

	</div>
	<div class="card-item">
		<img class="card-photo" src="../img/molchanovNick2.jpg" alt="MolchanovOleksii" width="200px" height="200px">
		<h1 class="card-title">Молчанов Николай Николаевич</h1>
		<div class="card-text">
			<p>Стаж работы шахматным тренером более 30 лет. 
			Среди его учеников - чемпионы  и призеры  Украины и Европы среди юношей в разных возрастных группах.</p>
		</div>
	</div>
	<div class="card-item">
		<img class="card-photo" src="../img/molchanova1.jpg" alt="MolchanovOleksii" width="200px" height="200px">
		<h1 class="card-title">Молчанова Елена Геннадьевна</h1>
		<div class="card-text">
			<p>Магистр физического воспитания и спорта. Тема магистерской работы - Внедрение шахмат как учебного предмета в систему школьного образования. 
			Занимается с детьми дошкольного и младшего школьного возраста.</p>
		</div>
	</div>
</div>
