<div class="hometext">
<p><h1>Шахматный клуб "Рокировка" - это</h1></p>
	<ul>
	<li>Детские группы от 5 лет</li>
	<li>Хобби-группы для всех возрастов</li>
	<li>Индивидуальные занятия</li>
	<li>Турниры и игровые дни</li>

	</ul>
	<p><h2>Выбирай думающий образ жизни</h2></p>
</div>

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="../img/galleryimages/IMG_5096.JPG" width="600px" height="450px">
</div>

<div class="mySlides fade">
  <img src="../img/galleryimages/IMG_5090.JPG" width="600px" height="450px">
</div>

<div class="mySlides fade">
  <img src="../img/galleryimages/IMG_0416.JPG" width="600px" height="450px">
</div>

</div>